			.top {
				text-align: center;
				font-size: 150%;
			}

			.middle {
				text-align: center;
				border-style: solid;
				border-radius: 20px;
				background-image: linear-gradient(to bottom, red, white, red);
			}

			h2 {
				border-style: solid;
				border-radius: 20px;
				height: 200px;
				width: 200px;
				align-content: center;
				margin: 0 auto;
				margin-top: 20px;
				margin-bottom: 20px;
				background-color: white;
			}
}

			img {
				border-style: solid;
				border-radius: 20px;
				height: 350px;
				width: 350px;
				margin-bottom: 20px;
			}

			body {
				background-color: darkred;
			}

			h3 {
				border-style:solid;
				font-size: 200%;
				width: 250px;
				margin: 0 auto;
				margin-bottom: 20px;
				margin-top: 20px;
				border-radius: 20px;
				background-color: white;
			}

			a:hover {
				color: gold;
				font-size: 35px;
			}
			